/.ipynb_checkpoints
/.vscode
/work_dirs
/tools/ganet/culane_out
/tools/ganet/culane/evaluate/evaluate # Need to run `make` again in ./tools/ganet/culane/evaluate
/*.egg-info
/plugin/ops/dcn/*.so
cookies.txt
**/__pycache__/**
/build